[SETTINGS]
#list phone numbers allowed to send text messages separated with a comma. Include the 1
ALLOWED_PHONE_NUMBERS = 15205557869

#maximum time to run the heater in minutes. Whole numbers only
MAX_HEATER_TIME = 60

#where to store to logfile
LOGFILE = /home/pi/Desktop/piWarmer.log 

#modem settings
SERIAL_PORT = /dev/ttyUSB0
BAUDRATE = 9600

#heater GPIO pin
HEATER_GPIO_PIN = 18

#set to True if you have an MQ2 gad sensor attached
MQ2 = False
MQ2_GPIO_PIN = 23
