[SETTINGS]
#list phone numbers allowed to send text messages separated with a comma
allowed_phone_numbers = 15205550123,15205550150

#maximum time to run the heater in minutes. Whole numbers only
max_heater_time = 60

#where to store to logfile
logfile = /home/pi/Desktop/piWarmer.log 

#modem settings
serial_port = /dev/ttyUSB0
baudrate = 9600

#GPIO Pin
bcm_gpio_pin = 18



